
<body data-spy="scroll" data-offset="0" data-target="#theMenu">

    <!-- Menu -->
    @*<nav class="menu" id="theMenu">
            <div class="menu-wrap">
                <h1 class="logo"><a href="index.html#home">Minimal</a></h1>
                <i class="fa fa-times-circle menu-close"></i>
                <a href="#home" class="smoothscroll">Home</a>
                <a href="#about" class="smoothscroll">About</a>
                <a href="#portfolio" class="smoothscroll">Portfolio</a>
                <a href="#contact" class="smoothscroll">Contact</a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
            </div>

            <div id="menuToggle"><i class="fa fa-bars"></i></div>
        </nav>*@

    <!-- ========== HEADER SECTION ========== -->
    <section id="home" name="home"></section>
    <div id="headerwrap">
        <div class="container">
            @*<div class="logo">
                    <img src="~/img/logo.png">
                </div>*@
            <br>
            <div class="row">
                <h1>HARSH PATEL</h1>
                <br>
                <h3>Software Developer</h3>
                <br>
                <br>
                <div class="col-lg-6 col-lg-offset-3">
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /headerwrap -->
    <!-- ========== ABOUT SECTION ========== -->
    <section id="about" name="about"></section>
    <div id="f">
        <div class="container">
            <div class="row">
                <h3>ABOUT ME</h3>
                <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

                <!-- INTRO INFORMATIO-->
                <div class="col-lg-6 col-lg-offset-3">
                    <p>A full time theme crafter based in Winnipeg,Manitoba. I love designing beautiful, clean and user-friendly interfaces for websites.</p>
                    <p>My passion is turning good ideas and products into eye-catching sites.</p>
                    <p>Sometimes I blog about design and web trends. Also I share links and my thoughts on</p>
                    <p>I'm available for freelance jobs. Contact me now.</p>
                    <p>
                        <a type="button" class="btn btn-warning" href="~/img/Harsh's resume.pdf">My Resume</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /f -->
    <!-- ========== CAROUSEL SECTION ========== -->
    <section id="portfolio" name="portfolio"></section>
    <div id="f">
        <div class="container">
            <div class="row centered">
                <h3>SOME PROJECTS</h3>
                <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

                <div class="col-lg-6 col-lg-offset-3">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active centered">
                                <div class="projectname">
                                    <a href="https://harshvpatel.github.io/frogger-game/.">Arcade Game</a>
                                </div>
                                <img class="img-responsive center-block" src="https://www.junaricrmplus.com/wp-content/uploads/2017/06/blog.png" alt="">
                            </div>
                            <div class="item centered">
                                <div class="projectname">
                                    <a href="https://harshvpatel.github.io/frogger-game/."></a>
                                </div>
                                <img class="img-responsive center-block" src="https://cdn4.iconfinder.com/data/icons/seo-internet/512/10-512.png" alt="">
                            </div>
                            <div class="item centered">
                                <img class="img-responsive center-block" src="https://www.financialmappers.com.au/wp-content/uploads/2015/10/investments-personal-goals-financial-planning.png" alt="">
                            </div>
                            <div class="item centered">
                                <img class="img-responsive center-block" src="https://saundersonhouse.co.uk/wp-content/uploads/2017/07/icon-investment-services-white-s@4x.png" alt="">
                            </div>
                          
                        </div>
                        <br>
                        <br>
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>

                        </ol>
                    </div>
                </div>
                <!-- col-lg-8 -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- f -->
    <!-- ========== CONTACT SECTION ========== -->
    <section id="contact" name="contact"></section>
    <div id="f">
        <div class="container">
            <div class="row">
                <h3>CONTACT ME</h3>
                <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

               
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form class="contact-form php-mail-form" role="form" action="contactform/contactform.php" method="POST">

                        <div class="form-group">
                            <label for="contact-name">Your Name</label>
                            <input type="name" name="name" class="form-control" id="contact-name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <label for="contact-email">Your Email</label>
                            <input type="email" name="email" class="form-control" id="contact-email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <label for="contact-subject">Subject</label>
                            <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                            <div class="validate"></div>
                        </div>

                        <div class="form-group">
                            <label for="contact-message">Your Message</label>
                            <textarea class="form-control" name="message" id="contact-message" placeholder="Your Message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
                            <div class="validate"></div>
                        </div>

                        <div class="loading"><img src="lib/php-mail-form/loading.gif"></div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>

                        <div class="form-send">
                            <button type="submit" class="btn btn-large">Send Message</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div id="copyrights">
        <div class="container">
            <p>
                &copy; Copyrights <strong>Minimal</strong>. All Rights Reserved
            </p>
            <div class="credits">
                <!--
                  You are NOT allowed to delete the credit link to TemplateMag with free version.
                  You can delete the credit link only if you bought the pro version.
                  Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/minimal-bootstrap-template/
                  Licensing information: https://templatemag.com/license/
                -->
                Created with Minimal template by <a href="https://templatemag.com/">TemplateMag</a>
            </div>
        </div>
    </div>



</body>



